@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui" {
    themes:
        light --default,
        dark --prefersdark,
        ijvadeli-light,
        ijvadeli-dark;
}

@plugin "daisyui/theme" {
    name: "ijvadeli-light";
    default: true;
    prefersdark: false;
    color-scheme: light;

    default: true;
      prefersdark: false;
      color-scheme: light;

      /* Base */
      --color-base-100: #f7f7f5;
      --color-base-200: #efefec;
      --color-base-300: #e3e3de;
      --color-base-content: #171716;

      /* Brand */
      --color-primary: #294f45;
      --color-primary-content: #ffffff;

      --color-secondary: #deded8;
      --color-secondary-content: #242422;

      --color-accent: #e6c65a;
      --color-accent-content: #292817;

      /* Neutral */
      --color-neutral: #242422;
      --color-neutral-content: #f7f7f5;

      /* Semantic */
      --color-info: #557a91;
      --color-info-content: #ffffff;

      --color-success: #4f765b;
      --color-success-content: #ffffff;

      --color-warning: #c28a35;
      --color-warning-content: #ffffff;

      --color-error: #b85b50;
      --color-error-content: #ffffff;

      /* Shape */
      --radius-selector: 0;
      --radius-field: 0rem;
      --radius-box: 0rem;

      /* Depth */
      --border: 1px;
      --depth: 0;
      --noise: 0;
}

@plugin "daisyui/theme" {
    name: "ijvadeli-dark";
    default: false;
    prefersdark: true;
    color-scheme: dark;

    /* Base */
    --color-base-100: #171a18;
    --color-base-200: #1e2421;
    --color-base-300: #29302c;
    --color-base-content: #eeeFE9;

    /* Brand */
    --color-primary: #6fae9b;
    --color-primary-content: #10211b;

    --color-secondary: #343a36;
    --color-secondary-content: #e8e9e3;

    --color-accent: #e6c65a;
    --color-accent-content: #25220f;

    /* Neutral */
    --color-neutral: #e4e5df;
    --color-neutral-content: #171a18;

    /* Semantic */
    --color-info: #79a4bb;
    --color-info-content: #111c22;

    --color-success: #76a983;
    --color-success-content: #102015;

    --color-warning: #d5a354;
    --color-warning-content: #21170a;

    --color-error: #d17a70;
    --color-error-content: #24100e;

    /* Shape */
    --radius-selector: 0;
    --radius-field: 0rem;
    --radius-box: 0rem;

    /* Depth */
    --border: 1px;
    --depth: 0;
    --noise: 0;
}


body {
    font-family: "Google Sans Code", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Google Sans", sans-serif;
    letter-spacing: -0.03em;
}

p {
    font-weight: 500;
}
